<img src="../img/viu_logo.png" width="200">

## 04EPPY - Actividad 1

25% de la Nota Final

### Fecha Entrega
- Convocatoria 1 - 29/07/2021
- Convocatoria 2 - 06/10/2021

### Instrucciones:
- Crear un notebook de Python3 que servirá como entrega de la actividad.
- Separar bien los apartados propuestos con celdas Markdown.
- Mantener una estructura limpia, comentando código y secuenciando los apartados con el código correspondiente que resuelva la actividad.
- Como criterio de evaluación se tendrá en cuenta el resultado, la consecución del mismo, estilo, comentarios y adecuación.
- No está permitido compartir los resultados ni el código en ninguno de los foros. 

### Entrega:
- Un solo documento en formato notebook: .ipynb
- Para hacer la entrega hay que hacer un tag al repositorio en una fecha anterior a la fecha de entrega de la actividad, y pegar el enlace al tag del repositorio en la actividad de blackboard.

### A1 - Ficheros - 15%
- Descarga datos mediante la siguiente url https://raw.githubusercontent.com/grammakov/USA-cities-and-states/master/us_cities_states_counties.csv
- Imprimir el número de ciudades que tiene el estado de Florida
- Resolver el problema de dos maneras distintas, una usando pandas y otra sin usar ninguna librería (solo Python standard)

In [87]:
#importamos las librerías
import pandas as pd
import requests
from pandas import DataFrame

#Creación de variable contador para almacenar total
contador = 0
#Lectura y guardado de datos desde la URL
url = "https://raw.githubusercontent.com/grammakov/USA-cities-and-states/master/us_cities_states_counties.csv"
a = pd.read_csv(url, delimiter='|', header= 0,
            names = ['City', 'State short', 'State full','Country',
            'City Alias'],
            na_values='?')

#Impresión del fichero completo
print(a)
#Cuento el total de ciudades del estado de Florida y lo imprimo
contador = len(a[a["State full"]=="Florida"])
print("El total de ciudades del Estado de Florida es de: " + str(contador))

              City State short   State full                Country  \
0       Holtsville          NY     New York                SUFFOLK
1       Holtsville          NY     New York                SUFFOLK
2         Adjuntas          PR  Puerto Rico               ADJUNTAS
3         Adjuntas          PR  Puerto Rico               ADJUNTAS
4         Adjuntas          PR  Puerto Rico               ADJUNTAS
...            ...         ...          ...                    ...
63206      Klawock          AK       Alaska  PRINCE OF WALES HYDER
63207   Metlakatla          AK       Alaska  PRINCE OF WALES HYDER
63208  Point Baker          AK       Alaska  PRINCE OF WALES HYDER
63209    Ward Cove          AK       Alaska      KETCHIKAN GATEWAY
63210     Wrangell          AK       Alaska               WRANGELL

                     City Alias
0      Internal Revenue Service
1                    Holtsville
2               URB San Joaquin
3              Jard De Adjuntas
4           Colinas Del Gigante
...                         ...
63206                   Klawock
63207                Metlakatla
63208               Point Baker
63209                 Ward Cove
63210                  Wrangell

[63211 rows x 5 columns]
El total de ciudades del Estado de Florida es de: 1400

### A3 - 10%
- Explica y expón, con un ejemplo propio, el broadcasting de NumPy

In [ ]:
 '''Broadcasting: proceso automático implementado en las operaciones de numpy para hacer más eficientes los cálculos con 
 arreglos multidimensionales donde, siempre que no haya ambiguedad, se procede del siguiente modo:

    En caso necesario, toma el arreglo de menor forma (shape) y agrega 1’s por la izquierda a la forma para hacerlos 
    compatibles.

    De ser necesario, replica el arreglo en los ejes (axes) con forma igual a 1, hasta que alcance la forma del arreglo 
    de mayor forma.
'''
import numpy as np
import pprint

# arreglo de 3 números enteros aleatorios distribucion uniforme [low, high)
X = np.random.randint(low=1,high=10, size=(3,3))  
Y = np.random.randint(low=1,high=10, size=(3,1))
Z = np.random.randint(low=1,high=10, size=(3))

print('X.shape =', X.shape) 
print('Y.shape =', Y.shape) 
print('Z.shape =', Z.shape) 

pp.pprint('matriz de 3x3, X=')
pp.pprint(X)

pp.pprint('vector columna de tamaño 3, Y= ')
pp.pprint(Y)

pp.pprint('vector columna de tamaño 3, Z= ')
pp.pprint(Z)

X.shape = (3, 3)
Y.shape = (3, 1)
Z.shape = (3,)
'matriz de 3x3, X='
array([[4, 1, 2],
       [8, 8, 5],
       [3, 7, 6]])
'vector columna de tamaño 3, Y= '
array([[7],
       [2],
       [1]])
'vector columna de tamaño 3, Z= '
array([7, 2, 3])

 A2 - 15%
- Genera una matriz con valores aleatorios de 0 a 100 de dimensiones 16x16
- Calcula los siguentes estadísticos en la matriz anterior, por fila (el resultado de cada uno debe ser un array de dimensiones 16x1)
  - Suma de los elementos de cada fila
  - Media de los elementos de cada fila
  - Valores mínimos de cada fila
  - Valores máximos de cada fila

In [10]:
#Imports de las funciones a utilizar
import numpy as np
from numpy import random

#Genera una matriz con valores aleatorios de 0 a 100 de dimensiones 16x16
matriz = np.array(random.randint(0,100,(16,16)))
#Imprimimos la matriz
print(matriz)
print('\n')

#Tratamiento de los datos de cada fila
for i in range (len(matriz)):
    print('Fila ' + str(i+1) + ':')
    #Suma de los elementos de cada fila
    print('\tLa suma de los elementos de la fila es: ' + str(sum(matriz[i])))
    #Media de los elementos de cada fila
    print('\tLa media de los elementos de la fila es: ' + str(sum(matriz[i])/len(matriz[i])))
    #Valor maximo de los elementos de cada fila
    print('\tEl valor maximo de los elementos de la fila es: ' + str(np.amax(matriz[i])))
    #Valor minimo de los elementos de cada fila
    print('\tEl valor minimo de los elementos de la fila es: ' + str(np.amin(matriz[i])) + '\n')

[[96  6 16 67 66 17 17 79 82 55 61 54 49 51 97  0]
 [95 29  1 65 85 75 52 92 35 97 98 76 10 49 80 26]
 [32 24 26  1 39 79 28 85 97  8 68 91 88 82 80 28]
 [56 65 82 39 20  4 73 97 53 95 49 90 80 63 25 54]
 [47 78 14 72 11 60 11 93 89 66 95 54 63 92 53 29]
 [91 34 51 68 49 58 51 57  8 49 15 34 18 42 39 95]
 [89 50 19 92 15  0 58 93 50 52 77  3 69 30  6 97]
 [43 61 80 27 58 71 44 18 39 87 63 55 76 95 30 86]
 [27 31 92 49 13 96 64 16 60 78 71 59 25  2 74 96]
 [16 69  7 88 16  3 74 83 84 29 25 33 77 71 29 35]
 [27  0 31 80 11  9 11 74 98 51 73 84 40 25 86 77]
 [61 63 80 26 88 82 92 36  7 51 48 99 41 65 49 35]
 [99  4 91 66 65 15 92 37 27 19 79 94 75 21 49 20]
 [23 60 60  4  1 74 67 33 19 61  3 14  8 42 53 35]
 [40 46 59 68 62  7 55 47 61 59 63  5 26 24 81 10]
 [70 81 37 56 11 40 73 71 73 77 66 90 86 77 76 69]]


Fila 1:
	La suma de los elementos de la fila es: 813
	La media de los elementos de la fila es: 50.8125
	El valor maximo de los elementos de la fila es: 97
	El valor minimo de los elementos de la fila es: 0

Fila 2:
	La suma de los elementos de la fila es: 965
	La media de los elementos de la fila es: 60.3125
	El valor maximo de los elementos de la fila es: 98
	El valor minimo de los elementos de la fila es: 1

Fila 3:
	La suma de los elementos de la fila es: 856
	La media de los elementos de la fila es: 53.5
	El valor maximo de los elementos de la fila es: 97
	El valor minimo de los elementos de la fila es: 1

Fila 4:
	La suma de los elementos de la fila es: 945
	La media de los elementos de la fila es: 59.0625
	El valor maximo de los elementos de la fila es: 97
	El valor minimo de los elementos de la fila es: 4

Fila 5:
	La suma de los elementos de la fila es: 927
	La media de los elementos de la fila es: 57.9375
	El valor maximo de los elementos de la fila es: 95
	El valor minimo de los elementos de la fila es: 11

Fila 6:
	La suma de los elementos de la fila es: 759
	La media de los elementos de la fila es: 47.4375
	El valor maximo de los elementos de la fila es: 95
	El valor minimo de los elementos de la fila es: 8

Fila 7:
	La suma de los elementos de la fila es: 800
	La media de los elementos de la fila es: 50.0
	El valor maximo de los elementos de la fila es: 97
	El valor minimo de los elementos de la fila es: 0

Fila 8:
	La suma de los elementos de la fila es: 933
	La media de los elementos de la fila es: 58.3125
	El valor maximo de los elementos de la fila es: 95
	El valor minimo de los elementos de la fila es: 18

Fila 9:
	La suma de los elementos de la fila es: 853
	La media de los elementos de la fila es: 53.3125
	El valor maximo de los elementos de la fila es: 96
	El valor minimo de los elementos de la fila es: 2

Fila 10:
	La suma de los elementos de la fila es: 739
	La media de los elementos de la fila es: 46.1875
	El valor maximo de los elementos de la fila es: 88
	El valor minimo de los elementos de la fila es: 3

Fila 11:
	La suma de los elementos de la fila es: 777
	La media de los elementos de la fila es: 48.5625
	El valor maximo de los elementos de la fila es: 98
	El valor minimo de los elementos de la fila es: 0

Fila 12:
	La suma de los elementos de la fila es: 923
	La media de los elementos de la fila es: 57.6875
	El valor maximo de los elementos de la fila es: 99
	El valor minimo de los elementos de la fila es: 7

Fila 13:
	La suma de los elementos de la fila es: 853
	La media de los elementos de la fila es: 53.3125
	El valor maximo de los elementos de la fila es: 99
	El valor minimo de los elementos de la fila es: 4

Fila 14:
	La suma de los elementos de la fila es: 557
	La media de los elementos de la fila es: 34.8125
	El valor maximo de los elementos de la fila es: 74
	El valor minimo de los elementos de la fila es: 1

Fila 15:
	La suma de los elementos de la fila es: 713
	La media de los elementos de la fila es: 44.5625
	El valor maximo de los elementos de la fila es: 81
	El valor minimo de los elementos de la fila es: 5

Fila 16:
	La suma de los elementos de la fila es: 1053
	La media de los elementos de la fila es: 65.8125
	El valor maximo de los elementos de la fila es: 90
	El valor minimo de los elementos de la fila es: 11

### A4 - 10%
- Resolución de dos sistemas de ecuaciones
    - $ A : \begin{cases} -9y +  4x = 20 \\ -7y + 16x = 80                         \end{cases}$
    - $ B : \begin{cases} x - 2y + 3z = 7 \\ 2x + y + z = 4 \\ -3x + 2y -2z = -10 \end{cases}$

In [20]:
import numpy as np
A = np.matrix([[4,-9],[16, -7]])
Sol_A = np.matrix([[20],[80]])
x_A = (A**-1)*Sol_A
#print(x_A)
print('Las soluciones para las incognitas de la ecuacion A son: X = ' + str(x_A[0]) + ' e Y = ' + str(x_A[1]))

B = np.matrix([[1,-2,3],[2,1,1],[-3,2,-2]])
Sol_B = np.matrix([[7],[4],[-10]])
x_B = (B**-1)*Sol_B
#print(x_B)
print('Las soluciones para las incognitas de la ecuacion B son: X = ' + str(x_B[0]) + ', Y = ' + str(x_B[1]) + ' y Z = '+ str(x_B[2]))

Las soluciones para las incognitas de la ecuacion A son: X = [[5.]] e Y = [[0.]]
Las soluciones para las incognitas de la ecuacion B son: X = [[2.]], Y = [[-1.]] y Z = [[1.]]

### A5 - 15%
- Crear un DataFrame de dimensiones 10x10, con números aleatorios en el rango `[0,20]`
- Reemplazar todos aquellos elementos menores de 5 por NaN
- Averiguar cuantos elementos tienen Nan por fila

In [86]:
#importamos librería randint
from random import randint
#importamos pandas
import pandas as pd
#importamos numpy
import numpy as np

#Crear un DataFrame de dimensiones 10x10, con números aleatorios en el rango [0,20]
print('Apartado 1:')
df = pd.DataFrame(np.random.randint(0,20,size=(10, 10)))
print(df)
print('\nApartado 2:')

#Reemplazar todos los numeros menores a 5 por NaN
df = df.apply(lambda x: np.where(x < 5,np.nan,x))       
print(df)
print('\nApartado 3:')
#Averiguar cuantos elementos tienen NaN por fila
for k in range(len(df.index)):
    counter = df.loc[[k]].isna().sum().sum()
    print('La columna ' + str(k) + ' tiene ' + str(counter) + ' elementos NaN.')

Apartado 1:
    0   1   2   3   4   5   6  7   8   9
0   0  14  13  12   3   8   3  6  11  17
1   2   8   8   4   0   5   0  8   9  12
2   8  17  16   0   5  15   5  8  13  11
3  17   8  19   8   0   7  18  5  17  10
4  11   4  14   9   5  10   0  9  13   4
5  16  18   8  16   2   1   1  8   4  12
6   5   9  18  12  16  16  19  2  12  15
7  12   6   3   5   4  16   3  2   6  11
8   1  10  15   2  14   5  16  3  11  13
9   8   0   6   3  17  10   7  1   8  11

Apartado 2:
      0     1     2     3     4     5     6    7     8     9
0   NaN  14.0  13.0  12.0   NaN   8.0   NaN  6.0  11.0  17.0
1   NaN   8.0   8.0   NaN   NaN   5.0   NaN  8.0   9.0  12.0
2   8.0  17.0  16.0   NaN   5.0  15.0   5.0  8.0  13.0  11.0
3  17.0   8.0  19.0   8.0   NaN   7.0  18.0  5.0  17.0  10.0
4  11.0   NaN  14.0   9.0   5.0  10.0   NaN  9.0  13.0   NaN
5  16.0  18.0   8.0  16.0   NaN   NaN   NaN  8.0   NaN  12.0
6   5.0   9.0  18.0  12.0  16.0  16.0  19.0  NaN  12.0  15.0
7  12.0   6.0   NaN   5.0   NaN  16.0   NaN  NaN   6.0  11.0
8   NaN  10.0  15.0   NaN  14.0   5.0  16.0  NaN  11.0  13.0
9   8.0   NaN   6.0   NaN  17.0  10.0   7.0  NaN   8.0  11.0

Apartado 3:
La columna 0 tiene 3 elementos NaN.
La columna 1 tiene 4 elementos NaN.
La columna 2 tiene 1 elementos NaN.
La columna 3 tiene 1 elementos NaN.
La columna 4 tiene 3 elementos NaN.
La columna 5 tiene 4 elementos NaN.
La columna 6 tiene 1 elementos NaN.
La columna 7 tiene 4 elementos NaN.
La columna 8 tiene 3 elementos NaN.
La columna 9 tiene 3 elementos NaN.

### A6 - 20%
- Se tienen tres datasets, se adjuntan sus datos como diccionarios
  - Students, representa un conjunto de alumnos, con sus nombres, edad y sexo
  - Subjects, un conjunto de asignaturas, con su nombre y el semestre en que se imparten
  - Marks, un conjunto de notas que han obtenido los alumnos en las asignaturas
- Obtener la siguiente información usando Pandas
  - El nombre del alumno con la mejor nota, y en que asignatura ha sido
  - Cuantos alumnos tienen asignaturas suspendidas en el primer semestre
  - La media de edad de los asistentes a la asignatura de Python
  - Formar una palabra con las iniciales de los nombres de los estudiantes ordenados por edad
- Representar graficamente
  - Las notas medias de todos los estudiantes por asignatura, agrupando por sexo
  - La densidad bivariable de la edad de los estudiantes frente a sus notas, agrupando por sexo (mostrando los datos de dispersion en la zona central, las curvas de densidad en los ejes)

In [25]:
students = {'StudentId': [1,2,3,4,5,6], 'Name' : ['Yael','Thomas','Paula','Orlando','Hannah','Nicole'], 'Age' : [22,31,19,44,39,51], 'Sex' : ['M', 'M', 'F', 'M', 'F', 'F']}
subjects = {'SubjectId': [1,2,3], 'Name': ['Python', 'Math', 'DeepLearning'], 'Semester': [1, 1, 2]}
marks = {'StudentId' : [2,2,1,3,6,4,4,3,2,5], 'SubjectId' : [1,3,1,2,1,2,3,1,2,1], 'Mark': [6,5,8,3,5,2,7,2,4,6]}

import pandas as pd
df_students = pd.DataFrame([key for key in students.keys()], columns=['StudentId'])
df_students['Name'] = [value['Name'] for value in students.values()]
df_students['Age'] = [value['Age'] for value in students.values()]
df_students['Sex'] = [value['Sex'] for value in students.values()]
df_students

df_subjects = pd.DataFrame([key for key in subjects.keys()], columns=['SubjectId'])
df_subjects['Name'] = [value['Name'] for value in subjects.values()]
df_subjects['Semester'] = [value['Semester'] for value in subjects.values()]
df_subjects

df_marks = pd.DataFrame([key for key in marks.keys()], columns=['SubjectId'])
df_marks['StudentId'] = [value['StudentId'] for value in marks.values()]
df_marks['SubjectId'] = [value['SubjectId'] for value in marks.values()]
df_marks['Mark'] = [value['Mark'] for value in marks.values()]
df_marks

TypeError: list indices must be integers or slices, not str

### A7 - 15%
- Dadas dos Series de Pandas, implementar una función 'find_not_common' para encontrar los elementos no comunes a ambas Series
- Se proveen dos series como referencia, el resultado para este ejemplo debe ser una serie con los elementos [4, 6, 14, 16]

In [11]:
p1 = pd.Series([2, 4, 12, 6, 8, 10])
p2 = pd.Series([8, 10, 12, 10, 14, 2, 16, 10])

print(find_not_common(p1, p2).equals(pd.Series([4, 6, 14, 16]))) # Esto deberia imprimir True

NameError: name 'find_not_common' is not defined